@charset "UTF-8";

body {
	background-color: #262a2e !important;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

#welcome-container {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	background: #212529;
}

#logout-button {
	margin-top: 65px;
	width: 60px;
	height: 60px;
	background: #596A7A !important;
	border-color: #596A7A !important;
	border-radius: 10px;
}

#logout-button:hover {
	background: #72767A !important;
}

#logout-logo {
	font-size: 40px;
	color: white;
}

#upper-container, #info-container {
	margin-top: 40px;
	width: 100%;
	margin-left: 30px;
}

#row2 {
	margin-top: 50px;

}


#logo {
	margin-left: 30px;
	width: 180px;
	height: 180px;
}

#title-role {
	margin-left: 35px;
	margin-top: 73px;
	color: white;
}

button {
	font-size: 30px !important;
	width: 380px;
	height: 180px;
}


#add-car-button, #delete-user-button, #delete-car-button, #delete-rent-button {
	font-size: 16px !important;
	margin-top: 20px;
	background:#7A6A4D !important;
	border-color: #C7B491 !important;
	width: 100px;
	height: 50px;
}

#delete-user-button, #delete-car-button, #delete-rent-button {
	background: #982200 !important;
	border-color: #BF2900  !important;
}

#delete-user-button:hover, #delete-car-button:hover, #delete-rent-button:hover {
	background:#BF2900 !important;
}

#delete-user-button:focus, #delete-car-button:focus, #add-car-button:focus, #delete-rent-button:focus, #delete-user-button:active, #delete-car-button:active, #add-car-button:active, #delete-rent-button:active {
	box-shadow: none;
}

#add-car-button:hover {
	background:#C7B491 !important;

}

input {
	height: 40px;
	width: 380px;
	border-radius: 5px;
	border-style: none;
	margin-top: 10px !important;
}


#form-container-delete-car, #form-container-add-car, #form-container-delete-user, #form-container-delete-rent  {
	margin-top: 20px;
}

#add-photo-button {
	width: 100px;
	height: 50px;
	margin-top: 20px !important;
	background:#7A6A4D !important;
	border-color: #C7B491 !important;
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	color: white;
}

#add-photo-button:hover {
	background:#C7B491 !important;
}

#img-form {
	margin-top: 30px !important;
	color: white;
}

#alert-success {
	display: flex;
	margin-top: 10px;
	justify-content: center;
	align-items: center;
	color: white;
	background: #00bf85;
	opacity: 0.8;
	border-radius: 5px;
	width: 280px !important;
	height: 50px !important;
}

#alert-unsuccess {
	display: flex;
	margin-top: 10px;
	justify-content: center;
	align-items: center;
	color: white;
	background: #BF2900;
	opacity: 0.8;
	border-radius: 5px;
	width: 280px !important;
	height: 50px !important;
}

#table-view {
	background: white !important;
}

#table-container1, #table-container2, #table-container3{
	margin-top: 40px;
	width: 96%;
	height: 400px;
}

#user-list-button, #car-list-button, #rent-list-button {
	background: #596A7A;
	border-color: #596A7A;
}

#user-list-button:hover, #car-list-button:hover, #rent-list-button:hover {
	background: #72767A;
}

#user-list-button:focus, #car-list-button:focus, #rent-list-button:focus, #user-list-button:active, #car-list-button:active, #rent-list-button:active {
	box-shadow: none;
}